body {
	color: white;
	background: linear-gradient(45deg, #CD0074, #33CCCC);
	font-family: monospace;
	font-size: 15px;
	margin: 0px;
	padding: 10px 100px 100px 100px;
}

button, main {
	color: inherit;
	background-color: inherit;
	border: 2px solid white;
	border-radius: 10px;
}

header {
	padding-top: 50px;
	margin-bottom: 50px;
}

/*header*/

.header {
	width: auto;
	height: auto;
}

.header_navbar {
	display: flex;
	justify-content: space-between;
}

.header_navbar--item {
	padding: 15px 30px;
}

/*main*/

.main_content {
	display: flex;
	flex-direction: column;
    border-spacing: inherit;
}

.main_content--item {
	background-color: inherit;
	padding: 40px;
	border-radius: 30px;
}

.main_content--info {
	display: flex;
	justify-content: space-between;
}

.main_content--image {
	border-radius: 100%;
	width: 25%;
	height: 25%;
	position: relative;
	align-items: center;
	
}

.main_content--aboutme {
	
}

.main_content--skills {
	flex-direction: column;
	border-color: blue;
}

.main_content--examples {
	border-color: deeppink; 
}

.example {
	width: 200px;
}


.footer {
		
}

.footer-item {
	text-align: center;
}