body {
	color: aliceblue;
	background-color: #2d2d2d;
	font-family: monospace;
	font-size: 15px;
	margin: 0px;
}

/*header*/

.header {
	background-color: blueviolet; 
	width: 100%;
	height: 70px;
	
}

.header_navbar {
	display: inline-flex;
}

.header_navbar--item {
	display: inline;
	color: aliceblue;
	margin-left: auto;
}

navbar ul li {
	text-decoration: none;
}

/*main*/

.main_content {
	display: flex;
}

.main_content--item {
	padding: 30px;
}
.main_content--image {
	border-radius: 100%;
	width: 75%;
	position: relative;
	align-items: center;
}

.main_content--aboutme {
	border: 15px;
	border-color: darkmagenta;
	border-width: medium;
	border-style: solid;
}

.footer {
	background-color: blueviolet;
	height: 35px;
}